# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/mini-commerce

# JWT Access Token (15 daqiqa)
JWT_ACCESS_SECRET=your_access_token_secret_change_this
JWT_ACCESS_EXPIRES_IN=15m

# JWT Refresh Token (30 kun, DB da saqlangan)
JWT_REFRESH_EXPIRES_DAYS=30

# Client URL (CORS)
CLIENT_URL=http://localhost:3000

# API URL (Swagger uchun)
API_URL=http://localhost:5000
