# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/mini-commerce

# JWT Access Token (15 min)
JWT_ACCESS_SECRET=your_access_token_secret_change_this
JWT_ACCESS_EXPIRES_IN=15m

# JWT Refresh Token (30 days, stored in DB)
JWT_REFRESH_EXPIRES_DAYS=30

# Swagger server URL
API_URL=http://localhost:5000
